.list-group {
  box-shadow: $boxShadow;
  border-radius: 6px;
  a {
    text-decoration: none;
    color: #333;
    border-radius: 0;
  }
  span {
    border-radius: 0;
  }
}

.list-group a {
  border-radius: 0;
}

.list-group-item {
  cursor: pointer;
  border-radius: 0;
  &:hover {
    background-color: #e7e7e7;
    //background-color: $buttonColor;
    color: #333;
  }
}

#portrait {
  cursor: default;
  padding: 30px;
  &:hover {
    background-color: white;
  }
  img {
    height: 200px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
}

.panel-body {
  box-shadow: $boxShadow;
}

//.subLink {
//  border: none;
//}

.list-group-item {
  border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-radius: 0;
}

.thirdLink span, .lastLink span {
  border-top: 0;
}

.loginControlPanel {
  .panel-body {
    padding: 30px 20px 80px;
    h2 {
      margin-top: 8px;
    }
    a {
      color: $buttonColor;
    }
  }
}