.post {
  img {
    float: left;
    margin-right: 10px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 2px;
  }
  .postAuthor {
    font-size: 1.6em;
    margin-bottom: 0;
    margin-top: 0;
  }
  .postBody {
    clear: both;
    margin-top: 20px;
    padding: 10px 0;
  }
  .innerPost {
    padding: 10px;
  }

}
