.userList {
  box-shadow: none;
  img {
    border-radius: 3px;
  }
  .list-group-item {
    border: none;
    &:hover {
      color: #333;
      //background-color: $buttonColor;
      background-color: #e7e7e7;
    }
  }
}

.post {
  img {
    float: left;
    margin-right: 10px;
    height: 60px;
  }
  .postAuthor {
    font-size: 1.8em;
    margin-bottom: 0;
  }
  .postBody {
    clear: both;
    margin-top: 20px;
    padding: 10px 0;
  }
  .innerPost {
    padding: 10px;
  }

}
